.gsd-keyboard.settings-ported
Code
JetBrains
Thunar
coc
configstore
connections.db
dconf
discord
dleyna-renderer-service.conf
epiphany
evolution
goa-1.0
google-chrome
ibus
konsolerc
konsolesshconfig
log
matplotlib
menus
mimeapps.list
nautilus
neofetch
procps
pulse
session
user-dirs.dirs
user-dirs.locale
wallpapers
xfce4
yay
Postman
Authy Desktop
google-cloud-tools-java
gatsby
cef_user_data
pls
rebase

